{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cycling creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create"  class="btn btn-success" />
    {{ form_end(form) }}

    <ul class="list-inline">
        <li>
            <a href="{{ path('cycling_index') }}"  class="btn btn-link">Back to the list</a>
        </li>
    </ul>
{% endblock %}
